$ico_facebook: (0px, 0px, 50px, 50px, 110px, 110px, '../../img/sp_sprite.png', 'ico_facebook', );
$ico_instagram: (-60px, 0px, 50px, 50px, 110px, 110px, '../../img/sp_sprite.png', 'ico_instagram', );
$ico_youtube: (0px, -60px, 50px, 50px, 110px, 110px, '../../img/sp_sprite.png', 'ico_youtube', );
$spritesheet: (110px, 110px, '../../img/sp_sprite.png', );
